Repository darwinia-network/token-migration: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Format code
  src/App.test.tsx
  src/App.tsx
  src/index.tsx
  src/reportWebVitals.ts
  src/setupTests.ts
  tsconfig.json
Due: eslint --fix, prettier --write --ignore-unknown

Fix style lint
  package.json
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/logo.svg
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Set BROWSER=none to start script
  package.json
Due: prettier --write --ignore-unknown

Update app title
  public/index.html
Due: none

Update favicon and logo
  public/favicon.ico
  public/logo192.png
  public/logo512.png
Due: none

Change content of descriptionn meta
  public/index.html
Due: none

Update manifest.json
  public/manifest.json
Due: prettier --write --ignore-unknown

Add tailwind css
  package.json
  postcss.config.js
  src/index.css
  tailwind.config.js
  yarn.lock
Due: stylelint --fix, prettier --write --ignore-unknown

Migrate to Create-React-App
  .eslintrc.json
  package.json
  src/App.tsx
  src/abi/kton.json
  src/abi/migrator.json
  src/components/ChainSelector.tsx
  src/components/ConnectMetamask.tsx
  src/components/Instruction.tsx
  src/components/LukyAddress.tsx
  src/components/LukyButton.tsx
  src/components/LukyToastContainer.tsx
  src/components/MigratorCard.tsx
  src/components/MigratorSelector.tsx
  src/components/PageFooter.tsx
  src/components/PageHeader.tsx
  src/components/PageLayout.tsx
  src/components/TokenSelector.tsx
  src/config/chains.ts
  src/config/index.ts
  src/config/migrators.ts
  src/config/tokens.ts
  src/global.d.ts
  src/hooks/api.ts
  src/hooks/index.tsx
  src/hooks/ktonBalance.tsx
  src/hooks/toastQueue.tsx
  src/pages/home.tsx
  src/providers/api.tsx
  src/types/chain.ts
  src/types/index.ts
  src/types/metamask.ts
  src/types/migrator.ts
  src/types/queue.ts
  src/types/token.ts
  src/utils/common.ts
  src/utils/contract.ts
  src/utils/index.ts
  src/utils/lukytoast.tsx
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

Add images and fix failed to run
  public/images/ckton.svg
  public/images/copyright.svg
  public/images/crab-smart-chain.svg
  public/images/drop-down.svg
  public/images/github.svg
  public/images/logo.svg
  public/images/mail.svg
  public/images/medium.svg
  public/images/metamask.svg
  public/images/migration.svg
  public/images/not-supported.svg
  public/images/pangolin-smart-chain.svg
  public/images/pkton.svg
  public/images/telegram.svg
  public/images/twitter.svg
  public/images/x-wpring.svg
  public/images/x-wring.svg
  src/App.tsx
  src/components/ChainSelector.tsx
  src/components/ConnectMetamask.tsx
  src/components/LukyAddress.tsx
  src/hooks/ktonBalance.tsx
  src/providers/api.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Update README.md
  README.md
Due: none

Handle different dropdown clicked outside
  src/components/ChainSelector.tsx
  src/components/TokenSelector.tsx
Due: eslint --fix, prettier --write --ignore-unknown

CI
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prd.yml
  .github/workflows/deploy-stg.yml
Due: none

Fix typo
  src/components/ChainSelector.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add coming soon tips
  src/components/ChainSelector.tsx
  src/components/TokenSelector.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Update container style
  src/components/PageFooter.tsx
  src/components/PageHeader.tsx
  src/components/PageLayout.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write --ignore-unknown

Change logo
  public/favicon.ico
  public/logo192.png
  public/logo512.png
Due: none

Handle metamask account change
  src/providers/api.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Set needApprove to false after approve successfuly
  src/components/MigratorCard.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix getBalance dependents in useKtonBalance
  src/hooks/ktonBalance.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Update token selector selected item balance value
  src/components/TokenSelector.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refresh option item of token selector after migrate successfuly
  src/components/MigratorCard.tsx
  src/components/MigratorSelector.tsx
  src/components/TokenSelector.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Change PWING to ORING
  src/config/migrators.ts
  src/config/tokens.ts
  src/types/token.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refresh token balance in token selector option trigeer
  src/components/MigratorCard.tsx
  src/components/MigratorSelector.tsx
  src/components/TokenSelector.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Update style
  src/components/ChainSelector.tsx
  src/components/ConnectMetamask.tsx
  src/components/Instruction.tsx
  src/components/LukyAddress.tsx
  src/components/LukyButton.tsx
  src/components/LukyToastContainer.tsx
  src/components/MigratorCard.tsx
  src/components/PageFooter.tsx
  src/components/PageHeader.tsx
  src/components/PageLayout.tsx
  src/components/TokenSelector.tsx
  src/fonts/JetBrainsMono-Bold.woff2
  src/fonts/JetBrainsMono-Light.woff2
  src/index.css
  src/pages/home.tsx
  src/utils/common.ts
  tailwind.config.js
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Fix typo
  src/components/MigratorCard.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Support WCKTON migration
  src/config/chains.ts
  src/config/migrators.ts
  src/config/tokens.ts
Due: eslint --fix, prettier --write --ignore-unknown

Set WCKTON migration disable
  src/config/migrators.ts
Due: eslint --fix, prettier --write --ignore-unknown

Set Crab chain disable
  src/config/chains.ts
Due: eslint --fix, prettier --write --ignore-unknown

Revert WCKTON migration config
  src/config/migrators.ts
  src/config/tokens.ts
Due: eslint --fix, prettier --write --ignore-unknown

Config Crab KTON migration
  src/config/chains.ts
  src/config/migrators.ts
  src/config/tokens.ts
Due: eslint --fix, prettier --write --ignore-unknown

Config xRING migrator contract
  src/config/migrators.ts
Due: eslint --fix, prettier --write --ignore-unknown

Config xRING token
  src/config/tokens.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add migrateAll function to migrator abi
  src/abi/migrator.json
Due: prettier --write --ignore-unknown

Unify token operation and add migrateRing
  src/abi/token.json
  src/components/MigratorCard.tsx
  src/hooks/ktonBalance.tsx
  src/providers/api.tsx
  src/utils/common.ts
Due: eslint --fix, prettier --write --ignore-unknown

Get token balance whether it is RING or KTON
  src/components/TokenSelector.tsx
  src/hooks/index.tsx
  src/hooks/tokenBalance.tsx
  src/providers/api.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Support xRING migration
  src/components/MigratorCard.tsx
  src/components/TokenSelector.tsx
  src/config/migrators.ts
  src/config/tokens.ts
  src/types/migrator.ts
  src/types/token.ts
  src/utils/common.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix useTokenBalance typo
  src/components/TokenSelector.tsx
  src/hooks/tokenBalance.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix assets balance decimals display
  src/components/MigratorCard.tsx
  src/components/MigratorSelector.tsx
  src/components/TokenSelector.tsx
  src/providers/api.tsx
  src/types/asset.ts
  src/types/index.ts
  src/types/metamask.ts
  src/utils/common.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add Fade animation
  package.json
  src/components/Instruction.tsx
  src/components/MigratorCard.tsx
  src/components/PageFooter.tsx
  src/components/PageHeader.tsx
  src/custom.d.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{css,scss,less}
  prettier --write --ignore-unknown: any of: **/*.{js,jsx,ts,tsx,json}
