Repository darwinia-network/token-migration: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": "eslint --fix",
  "src/**/*.{css,scss,less}": "stylelint --fix",
  "**/*.{js,jsx,ts,tsx,json}": "prettier --write --ignore-unknown"
}

Config action enable notify comment
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prd.yml
  .github/workflows/deploy-stg.yml
Due: none

Update xRING migrator contract
  src/config/migrators.ts
Due: eslint --fix, prettier --write --ignore-unknown

Config action notify slack channel
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prd.yml
  .github/workflows/deploy-stg.yml
Due: none

Update xWRING address
  src/config/tokens.ts
Due: eslint --fix, prettier --write --ignore-unknown

Optimize button hover opacity
  src/components/PageFooter.tsx
  src/components/PageHeader.tsx
  src/index.css
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Hide Pangolin
  src/config/chains.ts
  src/config/migrators.ts
  src/types/chain.ts
Due: eslint --fix, prettier --write --ignore-unknown

Config Pangolin hidden
  src/components/ChainSelector.tsx
  src/config/chains.ts
  src/config/migrators.ts
  src/types/chain.ts
Due: eslint --fix, prettier --write --ignore-unknown

Remove chain hidden config
  src/components/ChainSelector.tsx
  src/config/chains.ts
  src/types/chain.ts
Due: eslint --fix, prettier --write --ignore-unknown

Comment Pangolin chain
  src/config/chains.ts
  src/config/migrators.ts
  src/types/chain.ts
Due: eslint --fix, prettier --write --ignore-unknown

Disable migration check
  src/components/MigratorCard.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Disable xRING
  src/config/migrators.ts
  src/config/tokens.ts
Due: eslint --fix, prettier --write --ignore-unknown

Prefer un-disable index as default migrator index
  src/providers/api.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Catch get erc20 balance error
  src/utils/common.ts
Due: eslint --fix, prettier --write --ignore-unknown

Disable xRING (#2)
  src/components/MigratorCard.tsx
  src/config/migrators.ts
  src/config/tokens.ts
  src/providers/api.tsx
  src/utils/common.ts
Due: eslint --fix, prettier --write --ignore-unknown

Token disable config
  src/components/TokenSelector.tsx
  src/config/tokens.ts
  src/types/token.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update README.md
  README.md
Due: none

Fix token disable value
  src/components/MigratorSelector.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Enable xRING migrator
  src/config/migrators.ts
Due: eslint --fix, prettier --write --ignore-unknown

Enable xWRING token
  src/config/tokens.ts
Due: eslint --fix, prettier --write --ignore-unknown

Enabled xRING (#3)
  src/components/MigratorSelector.tsx
  src/config/migrators.ts
  src/config/tokens.ts
Due: eslint --fix, prettier --write --ignore-unknown
